.app {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #4a7ddb;
}

.app__header {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 1px;

}